node_modules/

.env
.env.local
.env.production
.env.development
.env.test

dist/
release/
node-v18.20.4-win-x64/
*.exe
*.asar
backend/
*.log
tmp/
guidelines/
assets/
public/
!public/
public/*
!public/images/
public/images/*
!public/images/logo_h4u.webp
