@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#root {
  overflow: hidden;
}

.drag-region {
  -webkit-user-select: none;
  user-select: none;
}

.premium-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.premium-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.premium-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.premium-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}
